
/* Alinhando texto -> usei a tag h1 direto pois somente ele é centralizado */

h1 {
    text-align: center;
}

/* Fontes dos textos -> Fiz uso de id pq posso utilizar apenas uma vez na section */
#font {
    font-family: Arial, Helvetica, sans-serif;
}

/* Cores dos textos-> Fiz uso de ids pq cada texto possui uma cor diferente */
#azul {
    color: blue;
}

#laranja {
    color: orange;
}

#verde {
    color: green;
}

#vermelho {
    color: red;
}

#magenta {
    color: magenta;
}

